.nav{
  background-color: burlywood;
  grid-area: n;
  padding: 20px;
}

.item a{
  color:white;
  text-decoration: none
}

/* .item .active {
  color: red;
} */
/* .item a.activeLink {
  color: red;
} */
.item a.active {
  color: gold;
}
